#preview {
    grid-column-start: 2;
    grid-column-end: 3;
    overflow-y:auto;
    height: 50rem;
    border: 1px solid black;
    margin: 10px;
}

span {
    display: table;
    margin: 0 auto;
}

#title {
    text-align: center;
}